DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE"
JWT_SECRET="your-super-secret-key"
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
PORT=4000
FRONTEND_URL=http://localhost:3000